.landing-page {
  margin-top: 0px;
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) ), url('./img/fallBG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.roux-container {
  margin-top: 15%;
}

.roux {
  width: 250px;
  height: auto;
  animation-delay: 3s;
}

.home-link {
  animation-delay: 3s;
}


.ball-container {
  overflow: hidden;
  animation: moveBall;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes moveBall {
  0%   {margin-left:0%; opacity: 1;}
  25%  {margin-left:25%; opacity: 1;}
  50%  {margin-left:50%; opacity: 1;}
  75%  {margin-left:75%; opacity: 1;}
  100% {margin-left:100%; opacity: 1;}
}
