#myCarousel {
  margin-top: 55px;
}

.site-display {
  padding:50px;
}

.carousel-inner {
  border-radius: 55px 55px 55px 55px;
  overflow: hidden;
}

.skills {
  padding: 15px;
  margin: 15px;
}



.skills-image {
  max-height: 480px;
  margin:15px;
}

.aws-image {
  max-height: 480px;
  margin:15px;
  border: 10px solid transparent;
  border-color: orange;
}

.slideText {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	margin: 45px;

}

#projectShowcase {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px;
  margin-right: 75px;
}



.textBox {
	padding: 25px;
}



/* If the screen size is 600px wide or less, set the font-size of <h1> to 30px */
/* includes Google Pixel 3 XL, iPhone XR */
@media screen and (max-width: 896px) {
  h1.slideText {
    font-size: 45px;
  }
}
/* includes Google Pixel 2 XL, iPhone 8 Plus and below */
@media screen and (max-width: 736px) {
  h1.slideText {
    font-size: 30px;
  }
}
